body {
  //display: inline-flex;
}

.profile-image {
  margin: 0 auto;
}

.profile-image img {
  width: 100px;
  border-radius: 50%;
}

.s-base {
  position: relative;
  min-height: calc(100vh);
  width: 100vw;
  padding: 10px;
  background: #e3e3e3;
}
section#s1,
section#s2,
section#s3,
section#s4
// .s1-content,
// .s2-content,
// .s3-content,
// .s4-content
{
  display: flex;
  padding: 100px 0px;
}

.s1-content,
.s2-content,
.s3-content,
.s4-content {
  // display: flex;
  // flex-wrap: wrap;
  // align-content: center;

  max-width: 37em;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

#s1 {
  background: #008dff;
  color: #fff;
}

#s1 h1 {
  color: #fff;
}

#s1 h1 span {
  color: #ffe000;
}

#s2 {
  background: #ffe000;
  color: #00202a;
}

#s2 h1 {
  color: #00202a;
}

#s2 h1 span {
  color: #ff6000;
}

#s3 {
  background: #ff6000;
  color: #1d0029;
}

#s3 h1 {
  color: #1d0029;
}

#s3 h1 span {
  color: #00ffe0;
}

#s4 {
  background: #00ffe0;
  color: #000036;
}

#s4 h1 {
  color: #000036;
}

#s4 h1 span {
  color: #008dff;
}

#s1 h1 {
  margin: 15px 0px 0px;
}

#s2 h1,
#s3 h1,
#s4 h1 {
  margin: 0px;
}

#s1 h3,
#s2 h3,
#s3 h3,
#s4 h3 {
  margin-top: 0px;
}

.center-text h1,
.center-text h3,
.center-text {
  width: 100%;
  text-align: center;
}

.social-icons a {
  text-decoration: none;
}

.social-icons svg {
  width: 40px;
  margin-left: 6px;
  margin-right: 6px;
}

// .inner-shape {
//      transition: transform .4s ease-out;
//      transform-origin: 50% 50%;
// }

@keyframes grow {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.1);
  }
  60% {
    transform: scale(1);
  }
}

@keyframes turn {
  0% {
    transform: rotate(0) scale(0);
    opacity: 0;
  }
  60% {
    transform: rotate(375deg) scale(1.1);
  }
  80% {
    transform: rotate(355deg) scale(0.9);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}

svg {
  animation: turn 1.5s ease-out backwards;
}

@include tablets {
  .profile-image img {
    width: 130px;
  }

  .social-icons svg {
    width: 60px;
  }
}
