.badge-listing {
  max-width: 1280px;
  margin: 0 auto;
}

.badge-listing ul {
  list-style: none;
  padding-left: 0px;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}

.badge-listing ul li {
  flex: 0 120px;
  margin: 10px;
}

.badge-listing ul li img {
  width: 70px;
}

.badge-listing p {
  margin-top: 0px;
  font-size: 0.75em;
}
