fieldset {
    border: 2px solid #008dff;
    border-radius: 7px;
    background-color: rgb(202, 232, 255);
    width: 100%;
    margin: 0 auto;
}

legend {
  padding: 10px;
}

label {
    // width: 20%;
    margin: 0px;
    text-align: left;
}

input, textarea {
    // width: 45%;
    margin: 0;
}

.flex-form-container {
  position: relative;
  text-align: left;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 310px;
  padding: 30px 0px;
}

.flex-form-container input,
.flex-form-container label,
.flex-form-container textarea {

}

.flex-form-container input,
.flex-form-container textarea {
  border-radius: 3px;
  border: none;
  margin: 10px 0px 10px 0px;
  padding: 0px 5px;
}

.flex-form-container label {
  flex: 0 100px;
}

.flex-form-container input {
  flex: 0 336px;
  height: 2.5em;
}

.flex-form-container textarea {
  flex: 0 336px;
  height: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.warning-message {
  font-size: 0.65em;
  padding: 2px 6px 1px 6px;
  border-radius: 3px;
  background: red;
  color: white;
  position: absolute;
  right: 0px;
  box-shadow: 1px 1px 3px #777;
}

.warning-message p {
  margin: 0px;
}

.warning-message.name {
  top: 34px;
}

.warning-message.email {
  top: 105px;
}

.warning-message.name,
.warning-message.email {
  display: none;
}

span#email-format {
  width: 100%;
  text-align: right;
  font-size: 0.75em;
}

@include mobile-landscape-nrw {
  .flex-form-container {
    max-width: 336px;
  }
}

@include mobile-landscape-norm {
  .warning-message.name,
  .warning-message.email {
    right: -110px;
  }

  .warning-message.name {
    top: 63px;
  }

  .warning-message.email {
    top: 136px;
  }
}

@include tablets {
  .flex-form-container label {
    flex: 0 120px;
  }

  .flex-form-container {
    max-width: 456px;
  }

  .warning-message.name,
  .warning-message.email {
    right: -140px;
  }

  .warning-message.name {
    top: 49px;
  }

  .warning-message.email {
    top: 109px;
  }
}
