// Medis queries variables
$brk-mobile-landscape-nrw   : 480px;
$brk-mobile-landscape-mid   : 521px;
$brk-mobile-landscape-norm  : 640px;
$brk-mobile-landscape-wide  : 730px;
$brk-tablets                : 767px;
$brk-displays               : 1024px;
